body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: [init] 1fr [line-2] 1fr [line-3] 1fr [destacado-end] 1fr [line-5] 1fr [destacado2-end] 1fr [line-7] 1fr [finish] ;
    grid-template-rows: [init] 1fr [line-2] 1fr [finish];
    grid-gap: 5px;
    height: 100vh;
    /* grid-auto-flow: column; */
    /* grid-auto-columns: 50px 100px; */
    grid-auto-rows: 50px 100px;
}
.item{
    background: lightblue;
    padding: 20px;
    border: 1px solid red;
}
.item:nth-of-type(1){
    grid-column: init / destacado-end;
    grid-row: init / finish;
}
.item:nth-of-type(2){
    grid-column: destacado-end/ destacado2-end;
    grid-row: init / finish;
}
.item:nth-of-type(3){
    grid-column: destacado2-end / finish;
}
.item .item{
    background-color: yellow;
}
.header{
    grid-area: header;
}
.left{
    grid-area: left;
}
.contenido{
    grid-area: contenido;
}
.footer{
    grid-area: footer;
}
